<div class="container-fluid">
	<% if @org_info.approved == false %>
    <div class="alert alert-danger">
    	Your application has not been approved yet. You will not be able to post any events.
    </div>
    <% end %>
	<div class="row">
    	<div class="col-sm-6">
        	<div class="full-modbox">
            	<div class="txt-center large-gray-title">
                	Add an Event
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Name of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input type="text" class="form-control" placeholder="Name of Event" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Date of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input id="datepicker" type="text" class="form-control" placeholder="Date" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div class="row">
                        <div class="col-sm-6">
                            <div>
                                <strong>Start Time of Event</strong>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Ex: 2:00" />
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <strong>End Time of Event</strong>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Ex: 2:00" />
                                </div>
                                <div class="col-sm-5">
                                    <select class="form-control">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Address of Event</strong>
                    </div>
                    <div class="margin-top-10">
                    	<input type="text" class="form-control" placeholder="Address" />
                    </div>
                </div>
                <div class="margin-top-20">
                	<div>
                    	<strong>Event Details</strong>
                    </div>
                    <div class="margin-top-10">
                    	<textarea class="form-control" placeholder="Use this space to write details about your event. Be specific."></textarea>
                    </div>
                </div>
                <div class="margin-top-20 txt-center">
                    <a class="btn btn-primary">Add Event</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 event-list">
        	<div class="large-black-title">
            	My Events
            </div>
            <div class="margin-top-20 white-modbox">
            	<div>
                	<strong>This is my title</strong>
                </div>
                <div class="margin-top-5">
                	This is my description
                </div>
                <div class="row margin-top-10">
                	<div class="col-sm-3">
                    	<i class="fa fa-calendar"></i> February 14, 2014
                    </div>
                    <div class="col-sm-3">
                    	<i class="fa fa-clock-o"></i> 2:00 PM
                    </div>
                    <div class="col-sm-6">
                    	<i class="fa fa-map-marker"></i> 601 Montgomery Street, San Francisco, CA
                    </div>
                </div>
                <div class="margin-top-20">
            		<a class="btn btn-warning">Edit</a>
            		<a class="btn btn-primary">Delete</a>
            	</div>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<script type="text/javascript">
$("#datepicker").datepicker({
	dateFormat: "mm-dd-yy"
});
</script>

</body>
