<div class="jumbotron">
	<div class="container">
		<h1>branch</h1>
		<p>Connecting kids with positive and empowering activities.</p>
		<%= button_to "Signup", signup_path, :class => "btn btn-primary -btn-lrg" %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Why branch?</h2>
			<p>After school many kids are picked up by their parents, driven to classes on new, enriching activities, and taken home to finish homework and relax. But not all kids have the same opportunity. Many kids' parents, particularly in underprivileged communities, don't have the time to provide that kind of support, or simply aren't there. Too often these kids are exposed to deleterious activities like drugs and gang violence, especially after school. That's why we created branch--to give kids the resources to find and participate in interesting, fun, and enriching activities.</p>
		</div>

		<div class="col-md-4">
			<h2>For kids</h2>
			<p>branch was built specifically with kids in mind. Our goal is to deliver the coolest, most relevant activities to kids. All they need to do is download the free app, sign up, and RSVP for an event! The process is designed to be simple and quick, so kids can know about all of the activities nearby.</p>
		</div>

		<div class="col-md-4">
			<h2>For Sponsors</h2>
			<p>branch vets the organizations that are allowed to post events to ensure that they are legitimate and age appropriate. On the other side, branch also provides organizations hosting events with detailed RSVP information so they know how many people to expect, and a convenient way to manage and promote their events, whether it's a pancake breakfast, reading competition at the local library, or 1k fun run.</p>
		</div>
	</div>
</div>
