@charset "utf-8";
/* CSS Document */

.hide {
	display:none;
}

.txt-center {
	text-align:center;
}

.margin-top-10 {
	margin-top:0.25em;
}

.margin-top-20 {
	margin-top:1em;
}

.bottom-border-gray {
	border-bottom:#EEE 1px solid;
}

.bottom-border-gray:last-child {
	border-bottom:none;
}

