@charset "utf-8";
/* CSS Document */

.container {
	width:100%;
	overflow:hidden;
}

.logo {
	position:absolute;
	top:15px;	
}

.logo img {
	width:120px;
}

.branch-logo {
	text-align:center;
}

.branch-logo img {
	width:80%;
	max-width:400px;
}

.padded-container {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.cute-box {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	background-color:#EBEBEB;
	border:#CCC 1px solid;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.modbox {
	padding:0.7em;
	background-color:#EBEBEB;
	border-top:#CCC 1px solid;
	border-bottom:#CCC 1px solid;
}

.small-gray-text {
	font-size:0.9em;
	color:#999;
}

.small-text {
	font-size:0.9em;
}

.small-white-text {
	font-size:0.9em;
	color:#FFF;
}

.white-link {
	color:#FFF;
	text-decoration:none;
}

.medium-title {
	font-weight:bold;
	font-size:1.1em;
}

.ui-overlay-branch, .ui-bar-branch {
	background-color:#356aa0;
}

.ui-bar-branch {
	color:#FFF;
	height:60px;
}

.ui-content {
	margin-bottom:40px;
}

.branch-input {
	width:100%;
	border:#CCC 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-indent:10px;
	padding:0.5em 0;
}

.doubleline-box {
	padding:0.7em 0.5em 0.7em 0.5em;
	overflow:hidden;
	border-bottom:#DDD 1px solid;
}

.doubleline-column-one {
	width:10%;
	float:left;
}

.doubleline-column-two {
	width:85%;
	float:right;
}

/*Event List*/

.event-list-column-one {
	width:15%;
	float:left;
	padding:10px;
}

.event-list-column-two {
	width:70%;
	float:right;
	padding:10px;
}

/*Groups*/

.groups-tile {
	width:45%;
	border:#CCC 1px solid;
	float:left;
	background-color:#FFF;
	margin:2%;
}

.groups-tile-image {
	color:#FFF;
	height:100px;
	padding:3px;
	text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.groups-tile-meta {
	padding:4px;
}

#groups {
	background-color:#EBEBEB;
}

/*Specific Group Page*/

#specific-group-event-container {
	display:none;
}

#specific-group-banner {
	height:120px;
	position:relative;
}

#specific-group-banner-title {
	position:absolute;
	bottom:1em;
	right:1em;
	font-weight:bold;
	font-size:1.3em;
	color:#FFF;
	text-align:right;
	text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

/*Feed Page*/

#feed-null {
	margin-top:30%;
	text-align:center;
	font-size:1.4em;
	display:none;
}

#feed-null a {
	text-decoration:none;
}

