<!--Event Title-->
<div class="modbox">
    <strong>Friday, Feb 14</strong>
</div>
<!--/Event Title-->

<!--One Event-->
<div class="container event-link">
    <div class="event-list-column-one small-gray-text">
        5:00 PM
    </div>
    <div class="event-list-column-two">
        <div class="small-gray-text">
            Foundation for Sustainable Development
        </div>
        <div class="margin-top-10 medium-title">
            Soccer in Alamo Square
        </div>
        <div class="margin-top-10 small-gray-text">
            20 Attendees
        </div>
    </div>
</div>
<!--/One Event-->

<!--One Event-->
<div class="container event-link">
    <div class="event-list-column-one small-gray-text">
        8:00 PM
    </div>
    <div class="event-list-column-two">
        <div class="small-gray-text">
            Boys and Girls Club
        </div>
        <div class="margin-top-10 medium-title">
            Ice skating broomball
        </div>
        <div class="margin-top-10 small-gray-text">
            15 Attendees
        </div>
    </div>
</div>
<!--/One Event-->

<!--Event Title-->
<div class="modbox">
    <strong>Saturday, Feb 15</strong>
</div>
<!--/Event Title-->

<!--One Event-->
<div class="container event-link">
    <div class="event-list-column-one small-gray-text">
        2:00 PM
    </div>
    <div class="event-list-column-two">
        <div class="small-gray-text">
            AYSO San Francisco
        </div>
        <div class="margin-top-10 medium-title">
            Pick up game at Dolores
        </div>
        <div class="margin-top-10 small-gray-text">
            10 Attendees
        </div>
    </div>
</div>
<!--/One Event-->