<!--Event Title-->
<div class="modbox">
    <strong>Friday, Feb 7</strong>
</div>
<!--/Event Title-->

<!--One Event-->
<div class="container event-link">
    <div class="event-list-column-one small-gray-text">
        8:30 PM
    </div>
    <div class="event-list-column-two">
        <div class="small-gray-text">
            Foundation for Sustainable Development
        </div>
        <div class="margin-top-10 medium-title">
            Soccer in Alamo Square with the Boys and Girls Club
        </div>
        <div class="margin-top-10 small-gray-text">
            20 Attendees
        </div>
    </div>
</div>
<!--/One Event-->
