<% @groups_list.each do |group| %>
<!--One Group Tile-->
<div class="groups-tile">
	<div class="groups-tile-image" style="background:url(img/clubhouse-test.jpg) no-repeat; background-size:cover;">
    	<%= group.name %>
    </div>
    <div class="groups-tile-meta">
    	<div class="margin-top-10 small-text">
        	40 Members
        </div>
        <div class="small-gray-text">
        	Next Event: February 15, 2014
        </div>
    </div>
</div>
<!--/One Group Tile-->
<% end %>