<div class="small-modbox">
  <%= form_tag do %>
	<div class="large-gray-title">
    	Login
    </div>
    <div class="margin-top-20">
    	<input name="login_username" type="text" class="form-control" placeholder="Username" />
    </div>
    <div class="margin-top-20">
    	<input name="login_password" type="password" class="form-control" placeholder="Password" />
    </div>
    <div class="txt-center margin-top-20">
    	<button type="submit" class="btn btn-primary">Login</button>
    </div>
    <% end %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
